<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="static/favicon.png">
    <link rel="stylesheet" href="static/css/style.css">
    <title>ThreeJs</title>
</head>
<body>
    {% block content %}{% endblock %}
</body>
<!-- <script nomodule src="static/three.js-master/src/Three.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/102/three.js"></script>
<script src="https://mamboleoo.be/learnThree/demos/OBJLoader.js"></script>
<script src="static/threejs/GLTFLoader.js"></script>
<script src="static/threejs/OrbitControls.js"></script>
<script src="static/js/scene.js"></script>
</html>